<section class="container"
         infiniteScroll
         (scrolled)="getNextPage()"
         [scrollWindow]="false">
  <div class="items">
    <div *ngFor="let story of stories; let i = index" class="story">
     <app-story [story]="story" [index]="i + 1"></app-story>
    </div>
  </div>
  <div *ngIf="!repository.allItemsLoaded" [ngStyle]="{'margin-top': stories.length != 0 ? '30px' : '10px'}" class="loader"></div>
  <div *ngIf="repository.allItemsLoaded" class="end-text">
    This is all the stories the official API gave me.
    Checkout the official site <a href="https://news.ycombinator.com" class="official-site">news.ycombinator.com</a>
    if you want to see more.
  </div>
</section>
