<header>
  <nav>
    <div class="left-side">
      <a [routerLink]="['/top']"><img src="assets/logo.png" alt="news combinator logo"/></a>
      <a [routerLink]="['/top']"><h1>Hacker News</h1></a>
    </div>
    <div class="center-side">
      <a [routerLink]="['/top']" [ngClass]="{'selected': selectedNavItem === '/top'}">TOP</a>
      <a [routerLink]="['/best']" [ngClass]="{'selected': selectedNavItem === '/best'}">BEST</a>
      <a [routerLink]="['/new']" [ngClass]="{'selected': selectedNavItem === '/new'}">NEW</a>
      <a [routerLink]="['/ask']" [ngClass]="{'selected': selectedNavItem === '/ask'}">ASK</a>
      <a [routerLink]="['/show']" [ngClass]="{'selected': selectedNavItem === '/show'}">SHOW</a>
      <a [routerLink]="['/jobs']" [ngClass]="{'selected': selectedNavItem === '/jobs'}">JOBS</a>
    </div>
    <div class="right-side">
      <a [routerLink]="['/about']" [ngClass]="{'selected': selectedNavItem === '/about'}">About</a>
    </div>
  </nav>
</header>
