<header>
  <nav>
    <div class="left-side">
      <a href="/"><img src="assets/logo.png" alt="news combinator logo"/></a>
      <a href="/"><h1>Hacker News</h1></a>
    </div>
    <div class="center-side">
      <a #top href="/top">top</a>
      <a #best href="/best">best</a>
      <a #new href="/new">new</a>
      <a #ask href="/ask">ask</a>
      <a #show href="/show">show</a>
      <a #jobs href="/jobs">jobs</a>
    </div>
    <div class="right-side">
      <a #about href="/about">about</a>
    </div>
  </nav>
</header>
