<section class="container"
         infiniteScroll
         (scrolled)="onScroll()"
         [scrollWindow]="false">
  <div class="stories">
    <div *ngFor="let story of stories; let i = index" class="story">
      <div class="index">{{ i + 1 }}</div>
      <div class="info">
        <a href="{{ story.url }}" class="info__upper-side">
          <div class="title">{{ story.title }}</div>
          <div *ngIf="story.url != null" class="url">({{ story.urlShortened }})</div>
        </a>
        <div class="info__lower-side">
        <span *ngIf="story.type != 'job'">
            {{ story.score }} <span *ngIf="story.score > 1">points</span> <span *ngIf="story.score == 1">point</span> |
        </span>
          by <span class="author">{{ story.by }}</span> {{ story.time | timeago }}
          <span *ngIf="story.type != 'job'">
            | <span class="comments">{{ story.descendants }} comments</span>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!repository.allItemsLoaded" [ngStyle]="{'margin-top': stories.length != 0 ? '30px' : '10px'}" class="loader"></div>
  <div *ngIf="repository.allItemsLoaded" class="end-text">
    This is all the stories the official API gave me.
    Checkout the official site <a href="https://news.ycombinator.com" class="official-site">news.ycombinator.com</a>
    if you want to see more.
  </div>
</section>
