.container {
  font-size: 15px;

  .info {
    margin-bottom: 6px;

    .author {
      text-decoration: underline;
      margin-right: 4px;
    }
  }

  .info, a {
    color: var(--gray);
  }

  .items {
    gap: 0;
  }
}
