.info {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .karma {
    color: var(--orange);
  }
}

a {
  display: block;
  width: 140px;
  padding: 8px;
  margin-bottom: 16px;
  background-color: var(--orange);
  border-radius: 6px;
  color: white;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
