<div class="container">
  <div class="index">{{ index }}</div>
  <div class="info">
    <a href="{{ story.url }}" class="info__upper-side">
      <div class="title">{{ story.title }}</div>
      <div *ngIf="story.url != null" class="url">({{ story.urlShortened }})</div>
    </a>
    <div class="info__lower-side">
        <span *ngIf="story.type != 'job'">
            {{ story.score }} <span *ngIf="story.score > 1">points</span> <span *ngIf="story.score == 1">point</span> |
        </span>
      by <a class="author" [routerLink]="['/user', story.by ]">{{ story.by }}</a> {{ story.time | timeago }}
      <span *ngIf="story.type != 'job'">
            | <a class="comments" [routerLink]="['/comments', story.id]" [state]="{ story: story }">{{ story.descendants }} comments</a>
      </span>
    </div>
  </div>

</div>
