.container {
  display: flex;
  align-items: center;
  gap: 22px;

  .index {
    min-width: 34px;
    text-align: center;
    color: var(--orange);
    font-size: 1.25rem;
    font-weight: 600;

    @media (max-width: 700px) {
      min-width: 16px;
      max-width: 16px;
      font-size: 1.1rem;
    }
  }

  .info__upper-side {
    display: flex;
    gap: 8px;
    margin-bottom: 2px;

    .title {
      color: black;
    }

    .url {
      color: var(--gray);
    }
  }

  .info__lower-side {
    color: var(--gray);

    a {
      color: var(--gray);
    }

    .author, .comments {
      text-decoration: underline;
      cursor: pointer;
    }

    /*.comments {
      white-space: nowrap;
    }*/

    @media (max-width: 700px) {
      .second-separator {
        display: none;
      }

      .comments:before {
        content: '\a';
        white-space: pre;
      }

    }
  }
}

